.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: black;
    border-bottom: 1px solid #e0e0e0;

    a {
        text-decoration: none;
        color: black;
    }

    .header-logo {
        font-size: 2rem;
        font-weight: bold;
        font-style: italic;
        font-family: 'playfair-display', serif;
        letter-spacing: 1px;
        
        span {
            color: #a8947b;
        }
    }

    .header-nav {
        justify-content: space-evenly;
        gap: 20px;


        .nav-links {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            list-style: none;
            display: flex;
            gap: 20px;


            &:hover {
                color: #a8947b;
            }
        }
    }

    .header-utils {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        
        .cart-link {
            margin-left: 20px;
        }

        .account-link {
            margin-left: 20px;
        }
        
    }

    .mobile-menu-button {
        font-size: 2rem;
        margin-left: 10px;
    }
    

}