@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Playfair+Display:ital,wght@1,400;1,500&family=Space+Mono&display=swap');

$primary-font-family: "Inter", sans-serif;
$secondary-font-family: "Playfair Display", serif;
$tertiary-font-family: "Space Mono", monospace;

$primary-color: #173d1a;
$secondary-color: #ffffff;
$main-background-color: #fff2d0;

$desktop: 768px;